<a href="/parties"><h1>Parties</h1></a>

<div class="tables">
  <% @parties.each do |party| %>
    <div class="indiv_table <%=party.paid%>">
      <h5><a href="/parties/<%=party.id%>"><%= party.table_number %></a></h5>
      <h6><%= party.number_of_guests %></h6>
    </div>
  <% end %>
</div>

<h2>Add a <a href="/parties/new">new</a> party?</h2>

<a href="/foods"><h1>Foods</h1></a>
<table>
  <th>Food Name</th>
  <th>Cuisine</th>
  <th>Price</th>
  <th>Allergens?</th>
  <th>Food ID</th>
  <% @foods.each do |food| %>
    <tr>
      <td><a href="/foods/<%=food.id%>"><%= food.name %></a></td>
      <td><%= food.cuisine_type %></td>
      <td>$<%= food.priceprint %></td>
      <td><%= food.allergens %></td>
      <td><%= food.id %></td>
    </tr>
  <% end %>
</table>
<h2>Add a <a href="/foods/new">new</a> food?</h2>
<br>
<a href="/chef"><h4>Chef View</h4></a>