<ul>
  <li><%=@food.name%></li>
  <li>Cuisine Type:  <%=@food.cuisine_type%></li>
  <li>Price:  $<%=@food.priceprint%></li>
  <li>Allergens:  <%=@food.allergens%></li>
  <li>ID:  <%=@food.id%></li>
</ul>

<h2>Would you like to <a href="/foods/<%=@food.id%>/edit">edit</a> or 
<form action="/foods/<%=@food.id%>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input class="delete_food" type="submit" value="delete" />
</form>
   this food item?</h2> 
<a href="/foods">Back To All Foods</a>
<a href="/">Back To Home</a>