<ul>
  <li><%=@food.name%></li>
  <li>Cuisine Type:  <%=@food.cuisine_type%></li>
  <li>Price:  <%=@food.price%></li>
  <li>Allergens:  <%=@food.allergens%></li>
  <li>ID:  <%=@food.id%></li>
</ul>

<h2>Would you like to <a href="/foods/<%=@food.id%>/edit">edit</a> this food item?</h2> 
<a href="/foods">Back To All Foods</a>