<h1>Parties</h1>
<table>
  <th>Table Number</th>
  <th>Number of Guests</th>
  <th>Paid?</th>
  <th>Party ID</th>
  <% @parties.each do |party| %>
    <tr>
      <td><a href="/parties/<%=party.id%>"><%= party.table_number %></a></td>
      <td><%= party.number_of_guests %></td>
      <td><%= party.paid %></td>
      <td><%= party.id %></td>
    </tr>
  <% end %>
</table>
<h2>Add a <a href="/parties/new">new</a> party?</h2>