<ul>
  <li>Table Number:  <%=@party.table_number%></li>
  <li>Number of Guests:  <%=@party.number_of_guests%></li>
  <li>Paid?:  <%=@party.paid%></li>
  <li>ID:  <%=@party.id%></li>
  <li>Order:
    <% if @foods.count > 0 %>
      <ul>
        <% @total = 0 %>
        <% @foods.each do |food| %>
          <li>
            <%=food.name%> - $<%=food.priceprint%>
          </li>
        <% @total += food.price.to_i %>
        <% end %>
        <li>
          <% @total = @total.to_s[0..-3] + "." + @total.to_s[-2..-1] %>
          Total:  $<%=@total%>
        </li>
      </ul>
    <% else %>
      No Orders Yet
    <% end %>
  </li>
</ul>

<h2>Would you like to <a href="/parties/<%=@party.id%>/edit">edit</a> or 
<form action="/parties/<%=@party.id%>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input class="delete_party" type="submit" value="delete" />
</form>
   this party?</h2> 

<form action="/orders/new" method="get">
  <input type="hidden" name="party_id" value="<%=@party.id%>" />
  <input type="submit" value="Add an Order" />
</form>

<form action="/orders" method="get">
  <input type="hidden" name="party_id" value="<%=@party.id%>" />
  <input type="submit" value="Edit/Delete an Order" />
</form>

<form action="/parties/<%=@party.id%>/receipts" method="get">
  <input type="hidden" name="total" value="<%=@total%>" />
  <input type="submit" value="Create Receipt" />
</form>

<form action="/parties/<%=@party.id%>/receipts" method="post">
  <input type="submit" value="Paid!">
</form>


<a href="/parties">Back To All Parties</a>
<br>
<a href="/">Back To Home</a>
