<ul>
  <li>Table Number:  <%=@party.table_number%></li>
  <li>Number of Guests:  <%=@party.number_of_guests%></li>
  <li>Paid?:  <%=@party.paid%></li>
  <li>ID:  <%=@party.id%></li>
  <li>Order:
    <ul>
      <% @foods.each do |food| %>
        <li>
          <%=food.name%>
        </li>
      <% end %>
    </ul>
  </li>
</ul>

<h2>Would you like to <a href="/parties/<%=@party.id%>/edit">edit</a> or 
<form action="/parties/<%=@party.id%>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input class="delete_party" type="submit" value="delete" />
</form>
   this party?</h2> 

<form action="/orders/new" method="get">
  <input type="hidden" name="party_id" value="<%=@party.id%>" />
  <input type="submit" value="Place an Order" />
</form>

<form action="/orders" method="get">
  <input type="hidden" name="party_id" value="<%=@party.id%>" />
  <input type="submit" value="Edit/Delete an Order" />
</form>


<a href="/parties">Back To All Parties</a>
<br>
<a href="/">Back To Home</a>
