<ul>
  <li>Table Number:  <%=@party.table_number%></li>
  <li>Number of Guests:  <%=@party.number_of_guests%></li>
  <li>Order: <%=@orders%></li>
  <li>Paid?:  <%=@party.paid%></li>
  <li>ID:  <%=@party.id%></li>
</ul>

  <a href="/orders/new"><h3>Place an Order</h3></a>

<h2>Would you like to <a href="/parties/<%=@party.id%>/edit">edit</a> or 
<form action="/parties/<%=@party.id%>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input class="delete_party" type="submit" value="delete" />
</form>
   this party item?</h2> 
<a href="/parties">Back To All Parties</a>