<ul>
  <li>Table Number:  <%=@party.table_number%></li>
  <li>Number of Guests:  <%=@party.number_of_guests%></li>
  <li><%= @party.paid == true ? "Have Paid!" : "Have Not Yet Paid"%></li>
  <li>Order:
    <% if @orders.count > 0 %>
      <ul>
        <% @total = 0 %>
        <% @foods_a = [] %>
        <% @prices_a = [] %>
        <% @orders.each do |order| %>
          <li>
            <%=order.food_name%> - $<%=order.charge%>
            <% @foods_a << order.food_name.gsub(" ", "_").to_sym %>
            <% @prices_a << order.charge.to_f %>
          </li>
        <% @total += order.charge.to_f.round(2)%>
        <% end %>
        <li>
          <% @total = @total.round(2) %>
          Total:  $<%=@total%>
        </li>
      </ul>
    <% else %>
      No Orders Yet
    <% end %>
  </li>
</ul>

<h2>Would you like to <a href="/parties/<%=@party.id%>/edit">edit</a> or 

<form action="/parties/<%=@party.id%>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input class="delete_party" type="submit" value="delete" />
</form>
   this party?</h2> 

<form action="/orders/new" method="get">
  <input type="hidden" name="party_id" value="<%=@party.id%>" />
  <input type="submit" value="Add an Order" />
</form>

<form action="/orders" method="get">
  <input type="hidden" name="party_id" value="<%=@party.id%>" />
  <input type="submit" value="Edit/Delete an Order" />
</form>

<form action="/parties/<%=@party.id%>/receipts" method="get">
  <input type="hidden" name="total" value="<%=@total%>" />
  <input type="submit" value="Create Receipt" />
</form>

<form action="/parties/<%=@party.id%>/receipts" method="post">
  <input type="hidden" name="receipt[table_number]" value="<%=@party.table_number%>" />
  <input type="hidden" name="receipt[food_list]" value="<%= @foods_a %>" />
  <input type="hidden" name="receipt[price_list]" value="<%= @prices_a %>" />
  <input type="hidden" name="receipt[total]" value="<%=@total.to_s%>" />
  <input type="hidden" name="receipt[time]" value="<%=Time.now%>" />
  <input type="submit" value="Paid!" />
</form>

<br>
<a href="/">Back To Home</a>
