<h1>EDIT YOUR ORDER</h1>

<ul>
  <li><%=@order.food_name%></li>
  <li>$<%=@order.charge%></li>
  <li><%=@order.fired != true ? "Not Yet Fired" : "Has Been Fired"%></li>
  <li>entered at <%=@order.entered%></li>
</ul>

<br>

<form action="/orders/<%=@order.id%>" method="post">
  <input type="hidden" name="_method" value="patch" />
  <% @foods.each do |food| %>
    <input type="radio" name="order[food_id]" value="<%=food.id%>"><%= food.name %> - $<%= food.priceprint %><br></input>
  <% end %>
  <br><br>
  <input type="radio" name="order[no_charge]" value="false">Charge</input>
  <input type="radio" name="order[no_charge]" value="true">No Charge</input>
  <br>
  <input type="hidden" name="order[party_id]" value="<%=@order.party_id%>" />
  <input type="hidden" name="order[fired]" value="@order.fired" />
  <input type="hidden" name="order[entered]" value="@order.entered">
  <br><br>
  <input type="submit">
</form>
