<h1>Orders for Table Number <%=@table_number%></h1>
<table class="orders_index">
  <th>Food</th>
  <th>Order Id</th>
  <th>Price</th>
  <% @orders.each do |order| %>
    <tr>
      <td>
        <a href="/orders/<%=order.id%>"><%=order.food_name%></a>
      </td>
      <td>
        <%=order.id%>
      </td>
      <td>
        $<%=order.charge%>
      </td>
    </tr>
  <% end %>
</table>

<footer class="footer">
  <span id="order_views_left"><a href="/parties/<%=@party_id%>">BACK TO PARTY</a></span><span id="order_views_right"><a href="/">HOME VIEW</a></span>
</footer>