<h1>PLACE AN ORDER FOR TABLE <%=@party.table_number%></h1>

<form class="orders_new" action="/orders" method="post">
  <% @foods.each do |food| %>
    <input type="radio" name="order[food_id]" value="<%=food.id%>"><%= food.name %> - $<%= food.priceprint %><br></input>
  <% end %>
  <br>
  <input type="checkbox" name="order[no_charge]" value="true">No Charge?</input>
  <br>
  <input type="hidden" name="order[party_id]" value="<%=@party.id%>" />
  <input type="hidden" name="order[fired]" value="false" />
  <input type="hidden" name="order[entered]" value="<%=Time.now%>" />
  <br>
  <input type="submit">
</form>

<h2>Table <%=@party.table_number%>'s Order So Far</h2>
<% if @orders.count > 0 %>
  <ul>
    <% @orders.each do |order| %>
      <li>
        <%=order.food_name%>  $<%=order.charge%>
      </li>
    <% end %>
  </ul>
<% else %>
  <em>No orders yet!</em>
<% end %>

<footer class="footer">
  <span id="go_home"><a href="/">HOME VIEW</a></span>
</footer>
