<h1>PLACE AN ORDER FOR TABLE <%=@party.table_number%></h1>

<form action="/orders" method="post">
  <input type="text" name="order[food_id]" placeholder="Type Food ID Here!" />
  <input type="hidden" name="order[party_id]" value="<%=@party.id%>" />
  <input type="submit">
</form>

<ul>
  <% @foods.each do |food| %>
    <li>
      <%= food.name %>
      <ul>
        <li>
          Food ID = <%= food.id %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>

<h2>Table <%=@party.table_number%>'s Order So Far</h2>
<ul>
  <% @party_foods.each do |food| %>
    <li>
      <%=food.name%>
    </li>
  <% end %>
</ul>