<ul>
  <li>Order ID:  <%=@order.id%></li>
  <li>Table Number:  <%=@party.table_number%></li>
  <li>Food:  <%=@food.name%></li>
  <li>Price: $<%= order.no_charge == false ? @food.priceprint : 0.00 %></li>
</ul>

<h2>Would you like to <a href="/orders/<%=@order.id%>/edit">edit</a> or


<form action="/orders/<%=@order.id%>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="hidden" name="order[party_id]" value="<%=@order.party_id%>" />
  <input type="hidden" name="order[food_id]" value="<%=@order.food_id%>" />
  <input class="delete_order" type="submit" value="delete" />
</form>
   this order?</h2> 
<a href="/parties">Back To All Parties</a>